/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    /* Styles */
    .abcRioButton {
        background-color: red !important;
        width: 220px !important;
        height: 50px !important;
        overflow: auto;
        margin: auto;
        position: absolute !important;
        top: 890px !important;
        left: 0;
        bottom: 0;
        right: 0;

    }
    #logo{
        position: absolute;
        width: 80%;
        top: 20px; left: 0; bottom: 0; right: 0;

    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    .abcRioButton {
        background-color: red !important;
        width: 220px !important;
        height: 50px !important;
        overflow: auto;
        margin: auto;
        position: absolute !important;
        top: 700px !important;
        left: 0;
        bottom: 0;
        right: 0;

    }
    #logo{
        position: absolute;
        width: 55%;
        top: 20px; left: 0; bottom: 0; right: 0;

    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
    .abcRioButton {
        background-color: red !important;
        width: 250px !important;
        height: 50px !important;
        overflow: auto;
        margin: auto;
        position: absolute !important;
        top: 890px !important;
        left: 0;
        bottom: 0;
        right: 0;

    }
    #logo{
        position: absolute;
        width: 60%;
        top: 20px; left: 0; bottom: 0; right: 0;

    }

}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .abcRioButton {
        background-color: red !important;
        width: 200px !important;
        height: 50px !important;
        overflow: auto;
        margin: auto;
        position: absolute !important;
        top: 370px !important;
        left: 0;
        bottom: 0;
        right: 0;

    }
    #logo{
        position: absolute;
        width: 50%;
        top: -40px; left: 0; bottom: 0; right: 0;

    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .abcRioButton {
        background-color: red !important;
        width: 200px !important;
        height: 50px !important;
        overflow: auto;
        margin: auto;
        position: absolute !important;
        top: 490px !important;
        left: 0;
        bottom: 0;
        right: 0;

    }
    #logo{
        position: absolute;
        width: 90%;
        top: 20px; left: 0; bottom: 0; right: 0;

    }
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .abcRioButton {
        background-color: red !important;
        width: 200px !important;
        height: 50px !important;
        overflow: auto;
        margin: auto;
        position: absolute !important;
        top: 440px !important;
        left: 0;
        bottom: 0;
        right: 0;

    }
    #logo{
        position: absolute;
        width: 50%;
        top: -40px; left: 0; bottom: 0; right: 0;

    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    .abcRioButton {
        background-color: red !important;
        width: 200px !important;
        height: 50px !important;
        overflow: auto;
        margin: auto;
        position: absolute !important;
        top: 590px !important;
        left: 0;
        bottom: 0;
        right: 0;

    }
    #logo{
        position: absolute;
        width: 95%;
        top: 20px; left: 0; bottom: 0; right: 0;

    }
}

/* iPhone 6+ ----------- */
/*@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){*/
    /*!* Styles *!*/
/*}*/

/*@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){*/
    /*!* Styles *!*/
    /*.abcRioButton {*/
        /*background-color: #fffe00 !important;*/
        /*width: 200px !important;*/
        /*height: 50px !important;*/
        /*overflow: auto;*/
        /*margin: auto;*/
        /*position: absolute !important;*/
        /*top: 590px !important;*/
        /*left: 0;*/
        /*bottom: 0;*/
        /*right: 0;*/

    /*}*/
    /*#logo{*/
        /*position: absolute;*/
        /*width: 60% !important;*/
        /*top: 20px !important; left: 0; bottom: 0; right: 0;*/

    /*}*/
/*}*/


/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    .abcRioButton {
    background-color: red !important;
    width: 200px !important;
    height: 50px !important;
    overflow: auto;
    margin: auto;
    position: absolute !important;
    top: 420px;
    left: 0;
    bottom: 0;
    right: 0;

    }
    #logo{
    position: absolute;
    width: 50%;
    top: -38px; left: 0; bottom: 0; right: 0;

    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .abcRioButton {
    background-color: red !important;
    width: 220px !important;
    height: 50px !important;
    overflow: auto;
    margin: auto;
    position: absolute !important;
    top: 560px !important;
    left: 0;
    bottom: 0;
    right: 0;
    }
    #logo{
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;

    }
}


