#topBar, #topBar1, #topBar2, #topBar3{
    border-right: 1px solid;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-bottom-color: #235937;
    border-bottom-width: 5px;
    height: 110px;
    text-align: center;

}

#studentlogo{
    width: 50% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0% !important;

}
#TEXT1{
    position: absolute;
    top: 40% !important;
    left: 35% !important;
}
#TEXT2{
    position: absolute;
    top: 40% !important;
    left: 45% !important;
}

