<div class="container-fluid">
    <link rel="stylesheet" type="text/css" ng-href="/css/studentDashboard.css"/>
    <div class="row" id="topBar">
        <div class="col-lg-4" id="topBar1">
            <img class="img-responsive center-block" id="studentlogo" src="/assets/img/logo.png" width="404" height="336">
        </div>
        <div class="col-lg-4" id="topBar2">
            <span id="TEXT1">Student Dashboard</span>
        </div>
        <div class="col-lg-4" id="topBar3">
            <span id="TEXT2"><a ng-href="/logout">LogOut</a></span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="padding: 5%; text-align: center">
        <span ng-if="currentUser">Hello, </span><span ng-bind="currentUser.getName()"></span>
    </div>
</div>
<div class="container-fluid">
    <!---Student's Courses--->
    <table border="1" align="center" bordercolor="#AAAAAA">
        <tr>
            <th>Course Name</th>
            <th>CRN</th>
        </tr>
        <tr ng-repeat="x in courses">
            <td>{{x.name}}</td>
            <td>{{x.crn}}</td>
        </tr>
    </table>
</div>

