<div class = "row" style="margin-bottom:50px">  
  <div class="col-md-1"></div>
  <div>
    <div class="container" style="max-width:850px">
      <div class = "row heading-bordered-bottom" style="padding-bottom:20px">  
        <div class="col-md-12">
          <!--=======START 404: LIST NOT FOUND BANNER====-->
          <div class="row" ng-show="listNotFound">  
            <div class="col-md-12">
              <div id="login-promo-container" style="width:100%; text-align: center">
                <div class="promo-content">
                  <h1 clas="promo-title" style='font-size:44px; line-height: 1.2;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;letter-spacing: 0;font-weight: 700;font-style: normal;font-size: 32px;'>
                    Teacher Dashboard | {{currentUser.getName()}} 
                  </h1>
                  <h2 clas="promo-subtitle" style='max-width: 580px;margin: 10px auto;padding: 0 25px;font-size: 24px;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;letter-spacing: 0; font-weight: 300;font-style: normal;'>
                    Your content is on a break.
                  </h2>
                  <h3 class="clean-text" style='padding: 0 50px;font-size: 18px;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;letter-spacing: 0;font-weight: 400;font-style: normal;'>
                    Unfortunately, you made it this far only to find nothing. Better luck next time.
                  </h3>
                  <div class="buttonSet">
                    <a ng-click="navigateToCreateNewList($event)"
                      ng-href="/new">
                      <button class="clean-button action-404-button">Do Something Cool</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--=======END 404: LIST NOT FOUND BANNER====-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

