<div class="row" style="margin-bottom:50px">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="container" style="max-width:850px">
            <div class="container-fluid">
                <img class="img-responsive center-block" id="logo" src="/assets/img/logo.png" width="704" height="636">
                <div ng-controller="LoginController">
                    <div id="gsignin"></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-md-1"></div>-->
</div>